[[plugins]]
package = "@netlify/plugin-functions-install-core"

[build]
publish = "."
functions = "functions"

[[redirects]]
from = "/api/*"
to = "/.netlify/functions/:splat"
status = 200

[[redirects]]
from = "/*"
to = "/index.html"
status = 200

[dev]
framework = "#static"